var sum=0,i=1;
for index in 1...100{
    sum=sum+i;
    i=i+1;
    
}
print(sum);




var sum1=0,j=1;
while j<=100
{
    sum1=sum1+j;
    j=j+1;
}
print(sum1);


var sum2=0
for k in 1...100{
    sum2=sum2+k;
    
}
print(sum2);
